* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parentCrauser {
    background-color: #f6f6f7;
    padding: 100px 0px;
    margin-top: 7%;
}

#parentCrauser > h2 {
    text-align: center;
    font-size: 32px;
    color: #202C45;
}

#crauser {
    width: 80%;
    height: 400px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#reverse, #forward {
    /* margin-left: 10px; */
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.fas {
    font-size: 20px;
}

.detCont {
    /* border: 1px solid blue; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60px 120px 20px;
    /* align-items: center; */
    padding: 50px;
    background-color: white;
    /* align-items: ; */
}



.linkTag {
    color: #abb8c3;
    text-decoration: none;
}

.linkTag:hover {
    color: #00d084;
}