#container {
    background-color: #f6f6f7;
}
/* top section */
#h1 {
    padding-top: 8%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.text {
    padding-top: 3%;
    width: 40%;
    margin: auto;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 540;
    text-align: center;
    line-height: 45px;
}
@media all and (min-width:766px) and (max-width:1024px){
    .text {
        font-size: 15px;
        gap: 15px;
    }
}
@media all and (min-width:320px) and (max-width:767px){
    .text {
        font-size: 13px;
        gap: 10px;
    }
}


.signup_button {
    color: white;
    background-color: rgb(59, 191, 59);
    border-radius: 10px;
    border: rgb(59, 191, 59) solid 2px;
    color: white;
    width: 150px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    display: block;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: inherit;

}
@media all and (min-width:766px) and (max-width:1024px){
    .signup_button {
        color: white;
        background-color: rgb(59, 191, 59);
        border-radius: 10px;
        border: rgb(59, 191, 59) solid 2px;
        color: white;
        width: 100px;
        height: 50px;
        margin: auto;
        margin-top: 50px;
        padding-top: 10px;
        display: block;
        font-size: 15px;
        font-weight: bolder;
        text-align: center;
        font-family: sans-serif;
        text-decoration: none;
        color: inherit;
    
    }
}
@media all and (min-width:320px) and (max-width:767px){
    .signup_button {
        color: white;
        background-color: rgb(59, 191, 59);
        border-radius: 10px;
        border: rgb(59, 191, 59) solid 2px;
        color: white;
        width: 80px;
        height: 60px;
        margin: auto;
        margin-top: 50px;
        padding-top: 10px;
        display: block;
        font-size: 15px;
        font-weight: bolder;
        text-align: center;
        font-family: sans-serif;
        text-decoration: none;
        color: inherit;
    
    }
}
/* logo section */
.logo {
    display: grid;
    grid-template-columns:repeat(5,10%);
    justify-content: center;
    padding-top: 7%;
}

@media all and (min-width:320px) and (max-width:767px){
    .logo {
        grid-template-columns: repeat(2,10%);
        grid-template-rows: repeat(3,35%);
        gap: 25px;
    }
}

/* video image */
.video_img {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.videoparent{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative; 
    bottom: 350px;
}
.icon-play {
   
    transform: translate(50%,) scale(1);
    background-color: #cacaea;
    border-radius: 15px;
    
}
@media all and (min-width:766px) and (max-width:1024px){
    .video_img {
       width: 80px;
       height: auto;
        
       
    }
    
}
@media all and (min-width:100px) and (max-width:420px){
    .video_img {
       width: 40px;
       height: auto;
        
       
    }
    
}
/* Email testing challenges that Mailtrap solves */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.text-center {
    padding-top: 4%;
    width: 60%;
    margin: auto;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: rgb(5, 5, 37);
}

.text-center {
    text-align: center;
}
.container_first{
    padding-top: 4%;
}
.container_first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 70%;
    margin: auto;
    /* border: 2px solid red; */

}

.container_text-center {
    display: flex;
    padding: 15px;
    /* border: 2px solid green; */
}

.container_text-center1 {
    display: flex;

}

.container_text-center2 {
    display: flex;

}

.container_text-center3 {
    display: flex;

}

.container_text-center4 {
    display: flex;

}

.container_text-center5 {
    display: flex;

}

.col>h3 {
    font-size: 16px;
    width: 75%;
    padding-left: 22px;
    font-family: sans-serif;
    color: rgb(50, 49, 49);
}

.col>.c-mt-3 {
    width: 90%;
    font-size: 13px;
    padding-left: 22px;
    color: rgb(43, 42, 42);
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
@media all and (min-width:766px) and (max-width:1024px){
    .container_first {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 35%;
        margin: auto;
        /* border: 2px solid red; */
    
    }
    
}
@media all and (min-width:320px) and (max-width:760px){
    .container_first {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        width: 40%;
        margin: auto;
        /* border: 2px solid red; */
    
    }
    
}
/* Setup takes less than 5 minutes */
#setup {
    margin-top: 100px;
}

.setup_h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 0%;
    color: rgb(5, 5, 37);
    padding-top: 80px;
}

.setup_h1>p {
    font-size: 14px;
    padding-top: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

#setupcont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: auto;
    padding-bottom: 45px;
}
@media all and (min-width:760px) and (max-width:1024px){
    #setupcont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 30%;
        margin: auto;
        padding-bottom: 45px;
    }
    .setup_h1 {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 0%;
        color: rgb(5, 5, 37);
        padding-top: 80px;
    }
    
}
@media all and (min-width:350px) and (max-width:760px){
    #setupcont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 30%;
        margin: auto;
        padding-bottom: 45px;
    }
    .setup_h1 {
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 0%;
        color: rgb(5, 5, 37);
        padding-top: 80px;
    }
    .entry-content {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        color: rgb(46, 45, 45);
        padding-top: 25px;
        line-height: 45px;
        width: 60%;
    }
    
}

.entry-content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(46, 45, 45);
    padding-top: 25px;
    line-height: 45px;
    width: 120%;
}
/* How different teams use Mailtrap */

.conatiner_hd {
    padding-top: 70px;
}

.mailtrap_h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 22%; 
    margin: auto;
}

.mailtrap_h1>h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: rgb(5, 5, 37);
}

.hdimg {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
@media all and (min-width:760px) and (max-width:1024px){
    .hdimg {
        width: 60px;
        height: auto;
       margin: auto;
    
    }
    
}


.tablecontainer {
    display: grid;
    grid-template-columns:repeat(3,25%) ;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    padding-left: 250px;
}
@media all and (min-width:760px) and (max-width:1024px){
    .tablecontainer {
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        gap: 50px;
        width: 100%;
        margin: auto;
       
    }
    
}
@media all and (min-width:350px) and (max-width:760px){
    .tablecontainer {
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        gap: 50px;
        width: 100%;
        margin: auto;
       
    }
    
}

.dev {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -28px;
    color: rgb(5, 5, 37);
}

.developers>ul {
   
    line-height: 22px;
}

.developers>ul>li {
    color: rgb(100, 97, 97);
    font-size: 15px;
    position: static;
    top: 15px;
}

.qas>ul {
    line-height: 25px;
}

.qas>ul>li {
    color: rgb(100, 97, 97);
    font-size: 15px;
    position: static;
    top: 15px;
}

.marketers>ul {
    line-height: 25px;
}

.marketers>ul>li {
    color: rgb(100, 97, 97);
    font-size: 15px;
    position: static;
    top: 15px;
}

.dev {
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 0.8em;
}

ul li:before {
    content: "•";
    font-size: 170%;
    padding-right: 5px;
}

ul li::before {
    content: "\2022";
    color: rgb(59, 191, 59);
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1em;
}

/* slider section */

/* Trusted by over 900,000 devs, QAs, and managers worldwide */
.headindt {
    text-align: center;
    width: 45%;
    margin: auto;
    padding-top: 4%;
}

.headindt>h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(5, 5, 37);
}

.imageconatiner {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding-top: 60px;
}
@media all and (min-width:760px) and (max-width:1024px){
    .imageconatiner {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin: auto;
    }
    
}
@media all and (min-width:350px) and (max-width:759px){
    .imageconatiner {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin: auto;
    }
    
}

.imageconatiner>img {
    width: 67px;
    height: 34px;
}
/* Frequently Asked Questions */

.containerhelpsection {
    background-color: #f6f6f7;
    margin-top: 150px;
}

.containerh {
    padding-top: 60px;
    padding-bottom: 90px;

}

.faq {
    padding-top: 80px;
}

.faq>h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(51, 51, 71);
}

.helpcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    gap: 45px 25px;
    padding-left: 80px;

}
@media all and (min-width:760px) and (max-width:1024px){
    .helpcon {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        gap: 45px 25px;
    
    }
    
}
@media all and (min-width:350px) and (max-width:759px){
    .helpcon {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    
    }
}

.single-faq {
   
    width: 465px;
    height: 250px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.single-faq>h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    width: 80%;
    margin-top: -20px;
    color: rgb(51, 51, 71);
}

.entry-contentp {
    font-size: 14px;
    line-height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 35px;
}

.single-faq__icon {
    height: 55px;
    width: 55px;
    position: relative;
    bottom: 50px;
}
/* Create Your Free Account */

.createaccount {
    height: 400px;
    width: auto;
    margin-top: 20px;
    background-color: rgb(20, 68, 85);
}

.createaccount {
    display: flex;
    justify-content: space-between;
}

.createaccount_img>img {
    height: px;
    width: 700px;
    margin-top: -30px;
}

.signuppage {
    margin: auto;
}

.signuppage>h3 {
    color: #fff;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -30px;
}


.signheading>h2 {
    color: #fff;
    font-size: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-top: -14px;
}

.signup_btn {
    color: white;
    background-color: rgb(59, 191, 59);
    border-radius: 10px;
    border: rgb(59, 191, 59) solid 2px;
    color: white;
    width: 150px;
    height: 40px;
    padding-top: 10px;
    display: block;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: inherit;

}
@media all and (min-width:350px) and (max-width:759px){
    .createaccount {
        display: flex;
        
    }
    .createaccount_img>img {
        height: px;
        width: 450px;
       padding-left: 60px;
        margin-top: -80px;
    }
}
@media all and (min-width:350px) and (max-width:759px){
    .createaccount {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .createaccount_img>img {
        height: px;
        width: 300px;
       padding-left: 60px;
        margin-top: -120px;
    }
    .signuppage>h3 {
        color: #fff;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 30px;
    }
    .signheading>h2 {
        color: #fff;
        font-size: 33px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        margin-top: 30px;
    }
    
}