/* Navbar Styles */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{      
    background-position: center;
    font-family: sans-serif;
}
.logoo{
    margin-top: 20px;
    padding-left: 80px;
}
.menucard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    height: 75px;
    position: fixed;
    background-color: white;
    width:100%;
    top: 0;
    left: 0;
    right: 0;
   
    
}
.list{
    padding-left: 350px;
    margin-top: -25px;
}

.list ol{
    display:flex;
    list-style: none;
    padding-left: 00px;
    padding-top: 25px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.list ol li{
    width: 150px;
    margin: 15px;
    padding: 15px;
   
}
.list ol li a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.list ol li:hover{
    color: rgb(96, 230, 96);
    border-radius: 3px;
} 
.active,.list ol li:hover{
    box-shadow: bh;
    border-radius: 3px;
} 
.submenu1{
    display: none;
}
.list ol li:hover .submenu1{
    display: block;
    position: relative;
    background-color: #fff;
    margin-top: 15px;
    margin-left: -150px;
    width: 310px;
    height: 350px;
    border-radius:15px ;

}
.list ol li:hover .submenu1 ol{
    display: block;
    margin: 10px;
}
.list ol li:hover .submenu1 ol li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.list ol li:hover .submenu1 ol li:last-child{
    border-bottom: none;
}
.list ol li:hover .submenu1 ol li a:hover{
    color: rgb(110, 227, 110);
}
.h1{
    width: 200px;
    padding-left: 50px;
    margin-top: -35px;
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.desc{
    width: 300px;
    padding-left: 50px;
    font-size: 13px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.active2,.list ol li:hover{
    box-shadow: bh;
    border-radius: 3px;
} 
.submenu2{
    display: none;
}
.list ol li:hover .submenu2{
    display: block;
    position: relative;
    background-color: #fff;
    margin-top: 15px;
    margin-left: -150px;
    width: 310px;
    height: 350px;
    border-radius:15px ;

}
.list ol li:hover .submenu2 ol{
    display: block;
    margin: 10px;
}
.list ol li:hover .submenu2 ol li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.list ol li:hover .submenu2 ol li:last-child{
    border-bottom: none;
}
.list ol li:hover .submenu2 ol li a:hover{
    color: rgb(110, 227, 110);
}
.h11{
    width: 200px;
    padding-left: 50px;
    margin-top: -35px;
    font-size: 15px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.desc1{
    width: 300px;
    padding-left: 50px;
    font-size: 13px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.gmi{
    width: 35px;
    height: 35px;
}
.btn{
    display:grid;
    grid-template-columns: repeat(2,25%);
    margin-right: 80px;
    height: 50px;
    
    
}

.btn1{
    width: 70px;
    height: 35px;
    margin-top: -5px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
}
#signupbt{
    background-color: rgb(59, 191, 59); 
    width: 80px;
    height: 30px; 
    padding-top: 5px;  
}
#lg1{
    color:black ;
    width: 80px;
    height: 30px; 
    padding-top: 5px;
}