* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* section-1 css */
#sec1 {
  /* border: 1px solid black; */
  width: 80%;
  margin: 150px auto auto auto;
  height: 100%;
}

#sec1 > div:first-child {
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 50px;
  color: #202C45;
}

#sec1 > #container1 {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}

#sec1 > #container1 > .box {
  border: 0.5px solid rgb(188, 185, 185);
}

#sec1 > #container1 > .box > div {
  /* border: 1px solid green; */
  text-align: center;
}

/* price div of both containers in both sections*/
#sec1 > #container1 > .box > div > .price,
#container2 > div:last-child > .box > div > .price {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: #22d172;
  margin: 20px 0px;
  font-size: 14px;
}

/* price($ 10 99) design - combined Sec-2 button css*/
#sec1 > #container1 > .box > div > .price > h1,
#container2 > div:last-child > .box > div > .price > h1 {
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* free, monthly- text to grey color in both section-1, section-3*/
#sec1 > #container1 > .box > div:first-child > p,
#container2 > div:last-child > .box > div > p {
  color: rgb(171, 169, 169);
  font-weight: normal;
}

/* para css in box */
#sec1 > #container1 > .box > div:nth-child(2) {
  text-align: start;
  padding: 20px;
  height: 250px;
  font-size: 14px;
}

/* button in boxes */
#sec1 > #container1 > .box > div:nth-child(3),
#container2 > div:last-child > .box > div:nth-child(2) {
  padding: 20px 10px;
}

#sec1 > #container1 > .box > div:nth-child(3) > a > button,
#container2 > div:last-child > .box > div:nth-child(2) > a > button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background-color: #22d172;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

/* first box button black */
#sec1 > #container1 > .box:first-child > div:nth-child(3) > a > button {
  background-color: black;
}



/* ********************************************************* */
/* no display for section-1 below 974px*/
@media all and (max-width: 974px) {
  #sec1 {
    display: none;
  }
}
/* ********************************************************* */


/* section-2 css */
#sec2 {
  /* border: 1px solid black; */
  background-color: rgb(254, 254, 254);
  width: 80%;
  margin: 70px auto 70px auto;
  height: auto;
  padding: 50px 0px;
}

/* sec2 heading */
#sec2 > h1 {
  /* border: 1px solid green; */
  text-align: center;
  margin-bottom: 50px;
  color: #202C45;
  font-size: 32px;
}

/* sec2 container2 */
#sec2 > #container2 {
  /* border: 1px solid black; */
  width: 100%;
  margin: auto;
  height: auto;
}

/* container2 head-row */
#sec2 > #container2 > #head {
  border: 0.5px solid rgb(188, 185, 185);
  background-color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

#sec2 > #container2 > #head > div {
  border: 1px solid grey;
  border-bottom: 0px solid white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
  color: #202C45;
}

/* main rows css */
#sec2 > #container2 > .ROW > .row {
  border: 0.5px solid rgb(188, 185, 185);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* text-align: center; */
}

/* ALERT-1 */
#sec2 > #container2 > .ROW > .row > div {
  border: 1px solid grey;
  font-size: 16px;
  /* font-weight: bold; */
  padding: 20px 0px;
  cursor: pointer;
  text-align: center;
}

/* don't want center alignment in first columns - this should not be above ALERT-1 */
#sec2 > #container2 > .ROW > .row > div:first-child {
  text-align: left;
}

/* giving greyish shade to all rows, to make it alternative given inline css to each alternate rows */
#sec2 > #container2 > .ROW > .row > div:first-child + div {
  background-color: rgb(234, 234, 244);
}

/* DON'T delete- kept for reference */
/* #sec2 > #container2 > .ROW > .row > div{
  background-color: green;
} */

#sec2 > #container2 > .ROW > .row > .tickicon > img {
  /* background-color: yellow; */
  height: 18px;
  display: block;
  margin: auto;
}

/* subrow-css */
#sec2 > #container2 > .ROW > .subrow {
  /* background-color: yellow; */
  border: 1px solid rgb(192, 188, 188);
  display: none;
  padding: 10px 0px;
}

/* LAST ROW - css */
/* #container2>div:last-child{
  background-color: yellow;
} */

/* Note- button css is combined with sec-1 button css*/
/* #sec2 > #container2 > .ROW > .row:nth-child(2n+2) > div{
  background-color: rgb(247, 243, 243);
} */
/* #sec2 > #container2 > .ROW > .row:nth-child(2n+1) > div{
  background-color: green;
} */


/* Sec-3 css */
#sec3 {
  /* border: 1px solid black; */
  /* background-color: yellow; */
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 50px 0px;
}

/* heading div */
#sec3 > div:first-child {
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 50px;
}

#sec3 > div:first-child > h1 {
  /* border: 1px solid green; */
  margin-bottom: 20px;
  color: #202C45;
  font-size: 32px;
}

#sec3 > div:first-child a {
  /* background-color: yellow; */
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #0087ca;
  /* z-index: -1; this removes the problem of appering over navbar when scrolled but making hover effect uneffective instead done z-index = 1 for header css in navbar.css file */
}

/* hover effect in anchor tag */
#sec3 > div:first-child a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

#sec3 > div:first-child a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* carousel div */
#sec3 > #carousel {
  width: 100%;
  position: relative; /* neccessary to make buttons postion relative to its parent */
}

/* buttons for slider */
#sec3 > #carousel > button {
  position: absolute;
  top: 45%;
  cursor: pointer;
}

#sec3 > #carousel > button:nth-child(2) {
  left: 25%;
}

#sec3 > #carousel > button:nth-child(3) {
  right: 25%;
}

/* box inside crousel */
#sec3 > #carousel > div {
  /* border: 1px solid blue; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 30%;
  height: 200px;
  margin: auto;
  padding: 20px;
}

/* para inside box */
#sec3 > #carousel > div p,
a {
  font-size: 14px;
  margin: 10px 0px;
  line-height: 20px;
}

/* grey anchor tags in box */
#sec3 > #carousel a {
  color: grey;
  text-decoration: none;
}

/* button of carousel */
#sec3 > #carousel button {
  background-color: white;
  border: none;
  font-size: 25px;
}

/* crousel heading and handle */
#sec3 > #carousel > div > div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* all anchor in carousel */
#sec3 > #carousel a {
  text-decoration: none;
}



/* ********************************************************* */
@media all and (min-width: 481px) and (max-width: 768px) {
  
  /* headings in all sections */
  #sec2>h1{
    font-size: 25px;
    margin-bottom: 20px;
  }

  #sec3 h1{
    font-size: 25px;
    margin-bottom: 20px;
  }

  #sec2 {
    border: 1px solid black;
    background-color: rgb(254, 254, 254);
    width: 100vw;
    margin: 150px auto 20px auto;
    padding: 30px 0px;
  }

  #container2 > #head >  div {
    /* background-color: yellow; */
    font-size: 10px;
    padding: 0px;
  }
  #container2 > div:last-child > .box > div > h3 {
    /* background-color: yellow; */
    font-size: 16px;
  }
  #container2 > div:last-child > .box > div > .price > h1 {
    /* background-color: yellow; */
    font-size: 20px;
  }
  #container2 > div:last-child > .box > div > .price > sup {
    /* background-color: yellow; */
    font-size: 10px;
  }
  #container2 > div:last-child > .box > div > p {
    /* background-color: yellow; */
    font-size: 14px;
  }
  
  #container2 > div:last-child > .box > div:nth-child(2)>a>button {
    /* background-color: orange; */
    font-size: 10px;
  }

/* section-3 */
  #sec3 {
    border: 1px solid black;
    width: 100%;
    padding: 30px 0px;
  }

  /* box inside crousel */
#sec3 > #carousel > div {
  width: 60%;
  padding: 10px;
}

/* buttons for slider */
#sec3 > #carousel > button:nth-child(2) {
  left: 10%;
}

#sec3 > #carousel > button:nth-child(3) {
  right: 10%;
}


}
/* ********************************************************* */

/* ********************************************************* */
@media all and (min-width: 320px) and (max-width: 480px) {
  
  /* headings in all sections */
  #sec2 h1{
    font-size: 15px;
    margin-bottom: 10px;
  }
  #sec2 p{
    font-size: 15px;
    margin-bottom: 10px;
  }

  #sec3 h1{
    font-size: 15px;
    margin-bottom: 10px;
  }
  #sec3 p{
    font-size: 10px;
    margin-bottom: 10px;
  }

  #sec2 {
    border: 1px solid black;
    background-color: rgb(254, 254, 254);
    width: 100vw;
    margin: 150px auto 10px auto;
    padding: 10px 0px;
  }

  #container2 > #head >  div {
    /* background-color: yellow; */
    font-size: 6px;
    padding: 0px;
  }
  #container2 > div:last-child > .box > div > h3 {
    /* background-color: yellow; */
    font-size: 10px;
  }
  #container2 > div:last-child > .box > div > .price > h1 {
    /* background-color: yellow; */
    font-size: 12px;
  }
  #container2 > div:last-child > .box > div > .price > sup {
    /* background-color: yellow; */
    font-size: 6px;
  }
  #container2 > div:last-child > .box > div > p {
    /* background-color: yellow; */
    font-size: 10px;
  }
  
  #container2 > div:last-child > .box > div:nth-child(2)>a>button {
    /* background-color: orange; */
    font-size: 8px;
  }

/* section-3 */
  #sec3 {
    border: 1px solid black;
    width: 100vw;
    padding: 30px 0px;
  }

  /* box inside crousel */
#sec3 > #carousel > div {
  width: 60%;
  padding: 8px;
}

/* buttons for slider */
#sec3 > #carousel > button:nth-child(2) {
  left: 10%;
}

#sec3 > #carousel > button:nth-child(3) {
  right: 10%;
}

.ROW{
  padding: 0px;
  margin: 0px;
}



}
/* ********************************************************* */
