#body{
    background-color:#f9f9f7;
}
#cont1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: auto;
    margin-top: 50px;

}
   #cont1>div:first-child>h2{
    font-size: 50px;
    width: 70%;
    margin-top: 100px;

}
#cont2{
    width: 80%;
}
#cont2>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#cont2>div>div:last-child{
 width: 80%;
 margin-left: 100px;
}
#cont2>div>div:last-child>h2{
    font-size: 50px;
}
#cont2>div:nth-child(2)>div:first-child {
  width: 80%;
}
#cont2>div:nth-child(2)>div:first-child>h2{
    font-size: 50px;
    width: 70%;
    margin-top: 100px;

}
#cont2>div:nth-child(2)>div:first-child{
    margin-left: 100px;
}
#cont2>div:nth-child(4)>div:first-child>h2{
    font-size: 50px;
    width: 70%;
    margin-top: 100px;

}
#cont2>div:nth-child(4)>div:first-child {
    width: 80%;
    margin-left: 100px;
}

#cont2>div:nth-child(4)>div:first-child>p{
    width: 80%;

}
#cont2>div:first-child>div:first-child{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 170px;
    padding: 50px 0;
    padding-left: 50px;
    
    margin-top: 50px;
    border-radius: 10px;
}
#cont2>div:nth-child(2)>div:nth-child(2){
    margin-top: 250px;
    height: 320px;
    width: 80%;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
}


#cont2>div:nth-child(3)>div:nth-child(1){
    margin-top: 250px;
    margin-left: 100px;
    height: 250px;
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 20px;
    border-radius: 10px;
}
#cont2>div:nth-child(4)>div:nth-child(2){
    margin-top: 250px;
    height: 320px;
    width: 80%;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 10px;
}
#cont3{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 500px;
}
#cont3>div{
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: #1a2e44;
    margin-top: 200px;
    border-radius: 40%;
}
#cont3>div:first-child{
    margin-top: 80px;
}
#cont3>div:nth-child(3)  {
    margin-top: 80px;
}
#cont3>div>h2{
    margin-left: 30px;
    margin-top: 55px;
    font-size: 30px;
    color: white;
}
#cont3>div>p{
    margin-top: -10px;
    font-size: 20px;
   text-align: center;
   color: white;    
}